@if (store.vm$ | async; as vm) { @if (vm.isLoading) {
<app-spinner />
}
<main class="container">
  <section>
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState.set(true)"
        (closed)="panelOpenState.set(false)"
        [expanded]="true"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>Actualización</mat-panel-title>
          <mat-panel-description
            >Actualizar estadísticas de duración de
            actividad</mat-panel-description
          >
        </mat-expansion-panel-header>
        <div
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          "
        >
          <app-sheet></app-sheet>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </section>
  <section>
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState.set(true)"
        (closed)="panelOpenState.set(false)"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>Exportación</mat-panel-title>
          <mat-panel-description
            >Exportar propiedades o árbol de recursos de
            OFSC</mat-panel-description
          >
        </mat-expansion-panel-header>
        <div
          style="
            display: flex;
            justify-content: space-evenly;
            align-items: center;
          "
        >
          <app-extraction-properties></app-extraction-properties>
          <app-extraction-resources></app-extraction-resources>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </section>
  <section>
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState.set(true)"
        (closed)="panelOpenState.set(false)"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>Visualización</mat-panel-title>
          <mat-panel-description
            >Visualizar duraciones de actividad</mat-panel-description
          >
        </mat-expansion-panel-header>
        <div
          style="display: flex; justify-content: center; align-items: center"
        >
          <app-activity-duration></app-activity-duration>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </section>
  <!-- <mat-divider></mat-divider> -->
  <!-- <footer class="flex-evenly">
    <button
      mat-raised-button
      color="basic"
      (click)="store.sendCloseMessage({})"
    >
      Cerrar
    </button>
  </footer> -->
</main>
}
