@if (store.vm$ | async; as vm) { @if (vm.isLoading) {
<app-spinner />
}
<main class="container">
  <section
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90%;
    "
  >
    <app-control-desk
      [controlDesks]="vm.controlDesk"
      (deskChanged)="store.setSelectedDesk($event)"
    ></app-control-desk>
  </section>
  <footer class="flex-evenly">
    <!-- <button mat-raised-button color="primary" (click)="store.prueba()">
      Prueba
    </button> -->
    <button
      mat-raised-button
      color="basic"
      (click)="store.sendCloseMessage({})"
    >
      Cerrar
    </button>
  </footer>
</main>
}
